<% if @post.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= t('common.errors') %></h5>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for([@project, @project.tasks.build]) do |f| %>
  <%= f.text_field :content, placeholder: "New Task" %>
  <%= f.submit %>
<% end %>  